<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permisssion.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION"></uses-permission>
    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtVroWGcgsHg6Jt97laHORTZfs4UpzMzk" />
    </application>
</manifest>
